{% extends 'templates/app.twig' %}

{% block content %}
	<div class="bg-1">
		<div class="container text-center">
			<h3>Who Am I?</h3>
			<img src="https://xakac.info/files/news/25/c7/1044.jpg" style="height:200px;" alt="Bird">
			<h3>I'm an adventurer</h3>
		</div>
	</div>
{% endblock %}
